django==1.9.8
django-crispy-forms>=1.6.0
django-import-export>=0.5.1
django-reversion>=2.0.0
django-formtools==1.0
future==0.15.2
httplib2==0.9.2
six==1.10.0
Pillow==4.3.0
PyMySQL==0.8.0
PyYAML==3.12
Pygments==2.2.0
decorator==4.2.1
diff-match-patch==20121119
