.navbar a {
  color: #00868B;
}
.nav-item{
    margin:30px 10px;
    font-size:20px;
}
.navbar-nav li{
  list-style:none;
}
.nav_cs  h2 {
    width: 260px;
    height: 150px;
    margin: 30px;
    color: deepskyblue;
}
.nav_css {
  position:fixed;
  top:40px;
  right:40px;
  font-size: 20px;
}
.nav_css p {
  position:fixed;
  top:40px;
  right:95px;
  font-size: 20px;
}
.nav_css li{
  list-style: none;
}
.top_nav {
    position: relative;
    top: 80px;
    left: 48%;
}
.top_nav h2 {
    color: deepskyblue;
}
.Huifold .item{
    position:relative;
    top: 150px;
    left: 25%;
}
.Huifold li {
    position: relative;
    list-style: none;
    width: 800px;
}
.Huifold .item h4{
    margin:0;
    font-weight:bold;
    position:relative;
    border-top: 1px solid #fff;
    font-size:15px;
    line-height:22px;
    padding:7px 10px;
    background-color:#eee;
    cursor:pointer;
    padding-right:30px
}
.Huifold .item h4 b{
    position:absolute;
    display: block;
    cursor:pointer;
    right:10px;
    top:7px;
    width:16px;
    height:16px;
    text-align:center;
    color:#666
}
.Huifold .item span {
    position: absolute;
    right: 35px;
    font-size: 12px;
}
.Huifold .item .info{
    display:none;
    padding:10px
}
.Huifold .info{
    font-size: 20px;
}
