<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <title> 元智校内网</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/background_all.css">
    <link rel="stylesheet" href="../static/css/cuotiji.css">
    <script src="../static/js/jquery.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <ul class="navbar-nav">
            <li>
                <img src="../static/images/32x51.ico" alt="Logo">
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'publish_tasks' %}">作业主页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'view_the_degree_of_completion_tch' %}">作业完成度</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="{% url 'view_course_ware' %}">查看课件</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="{% url 'search_interview_questions' %}">查看面试题</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="{% url 'cuotiji' %}">面试错题集</a>
            </li>
        </ul>
    </nav>
    <div class="nav_css">
          <ul>
              <li>
                <p>{{ en_name }}</p>
                <a href="{% url 'logout_tch' %}">注销</a>
              </li>
          </ul>
    </div>
    <div class="top_nav">
        <h2>错题集</h2>
    </div>
    <ul id="Huifold1" class="Huifold">
        <li class="item">
            {% for question in questions %}
                <form id="{{ forloop.counter }}" action="{% url 'cuotiji_detail' %}" method="POST">{% csrf_token %}
                    <h4>{{ question.created_time|date:'Y-m-d' }}
                        <input type="hidden" name="create_time"
                               value="{{ create_time }}{{ question.created_time|date:'Y-m-d h:m:s' }}"/>
                        <input type="hidden" name="course" value="{{ course }}{{ question.category }}"/>
                        <input type="hidden" name="all_info"
                               value="
                                       {{ all_info }}{{ question.created_time|date:'Y-m-d h:m:s' }} {{ question.category }}"/>
                        <a onclick="document.getElementById('{{ forloop.counter }}').submit();">
                            {{ question.category }}-第{{ question.id }}次面试题目练习
                        </a>
                        <span>
                            共 {{ 1 }} 道错题
                        </span>
                    </h4>
                </form>
            {% endfor %}
        </li>
    </ul>
</body>
</html>