<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <title>元智校内网</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/register_info_all.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>
<body>
<div class="bg"></div>
<h1 class="text-info">
    <img src="../static/images/32x51.ico" alt="Logo">
    准备好来元智了吗？
    <small>那就开始吧！</small>
</h1>
<br>
<div class="panel">
    <input type="radio" id="switch-open" name="switch"/>
    <input type="radio" id="switch-close" name="switch"/>
    <form  action="{% url 'register_tch' %}" method="POST">{% csrf_token %}
        <div class="login">
                <div class="group"><i class="fa fa-users" aria-hidden="true"></i>
                    <input type="text" id="email" name="en_name" placeholder="用户名"/>
                    <label title="必须是英文名！"></label>
                </div>
                <div class="group"><i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    <input type="password" id="password" name="passwd" placeholder="密码"/>
                    <label title="特殊字符只接受 _"></label>
                </div>
                <div id="warning">
                    <p>请输入正确的用户名和密码!</p>
                </div>
                <input id="infobtn" type="submit" value="注册"/>
        </div>
    </form>
    <div class="register">
        <div class="inner">
            <h1>REGISTER</h1>
            <div class="group"><i class="fa fa-user" aria-hidden="true"></i>
                <input type="text" id="name" placeholder="Name"/>
                <label for="name"></label>
            </div>
            <div class="group"><i class="fa fa-envelope" aria-hidden="true"></i>
                <input type="text" placeholder="E-Mail"/>
                <label for="email"></label>
            </div>
            <div class="group"><i class="fa fa-unlock-alt" aria-hidden="true"></i>
                <input type="password" placeholder="Password"/>
                <label for="password"></label>
            </div>
            <input type="submit" value="REGISTER"/>
        </div>
    </div>
</div>
{#<script type="text/javascript">#}
{#    $("#infobtn").click(#}
{#        function () {#}
{#            if ($('#user').val() == '' || $('#password').val() == '') {#}
{#                $("#warning").css("display", "inline");#}
{#            }#}
{#        });#}
{#</script>#}
</body>
</html>