<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <title> 元智校内网</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/background_all.css">
    <link rel="stylesheet" href="../static/css/search_question_detail.css">
    <script type="text/javascript" src="../static/js/search_question_detail.js"></script>
</head>
<body onLoad="goPage(1,1);">
    <div class="nav">
        <h3>
            {{ all_info }}
        </h3>
    </div>
    <div class="container">
        <form id="answer_form" action="{% url 'submit_interviewquestions_answer' %}" method="POST">{% csrf_token %}
            <table id="idData" width="55%">
                {% for interviewquestionbank in question_list %}
                    <tr>
                        <td>
                            <h3>{{ forloop.counter }}.{{ interviewquestionbank.title }}</h3>
                            <p>{{ interviewquestionbank.content }}</p>
                            <input id="title" type="hidden" name="title" value="{{ interviewquestionbank.title }}">
                            <textarea id="answer" name="answer" id="" cols="100" rows="10"></textarea>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <table width="60%" align="right">
                <tr><td><div id="barcon" name="barcon"></div></td></tr>
            </table>
        </form>
    </div>
</body>
</html>